:root {
	--color-nav: #0084fd;
	--color-light-blue: #b5ddff;
	--color-secondary-bg-color: #9792e4;
	--color-footer: #333333;
	--color-free: #fbc25f;
    --color-secondary-color: #f6f6f6;
}

/*************************************************
    RESET
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--color-secondary-color);
}

/*************************************************
    GENERAL STYLES
 *************************************************/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "PT Sans", sans-serif;
}

img {
    width: 100%;
    display: block;
}

.container{
    margin: 20px 15px;
    padding: 10px;
}

.even {
    background-color: var(--color-secondary-bg-color);
    color: var(--color-secondary-color);
} 
.button {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 16px;
    color: var(--color-secondary-color);
    margin: 20px 0;
}  

/************************************************
    UTILITIES
 ************************************************/
 .row {
    display: flex;
}
.s-between {
    justify-content:space-between;
}

.space-around {
    justify-content: space-around;
}

.items-start {
    align-items: flex-start;
}
.baseline {
    align-items: baseline;
}
.items-center {
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.j-center {
    justify-content: center;
    justify-items: center;
}

.j-end {
    justify-content: flex-end;
}
.content-center {
    align-content: center;
}
.wrap {
    flex-wrap: wrap;
}
.column { 
    flex-direction: column;
}
.gap-20 {
    gap: 20px;
}

/************************************************
    SITE SECTIONS
 ************************************************/

 /* HEADER SECTION */
header {
    background-color: var(--color-nav);
    color: var(--color-secondary-color);
    height: 60px;
}
header .container {
    margin: 0 15px;

}
nav i {
    font-size: 2em;
}
header nav ul {
    background-color: var(--color-nav);
}
header nav li {
    padding: 5px;
    padding-left: 0;
}
.hidden-navbar {
    display: none;
}
nav:hover .hidden-navbar{
    display: flex;
    position: relative;
    z-index: 1001;
}
nav:hover i {
    display: none;
}

/* FEATURES SECTION */

#features .card {
    background-color: var(--color-light-blue);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
#features .card i {
    padding-bottom: 15px;
    font-size: 4em;
    color: var(--color-nav);
}
#features .card .card-main i {
    font-size: small;
    color:var(--color-secondary-color);
    padding-bottom: 0px;
}
#features .card h3 {
    padding-bottom: 20px;
    color: var(--color-nav);
}
.card-main .button {
    background-color: var(--color-nav);
}
.card-image div {
    height: 70%;
}

.card-image  {
    align-self: flex-end;
}
#features .pb-0.card {
    padding-bottom: 0px;
}
/* FOOTER SECTION */
footer {
    background-color: var(--color-footer);
    color: var(--color-secondary-color);
    
}

/************************************************
        MEDIA QUERY
 ************************************************/

/* TABLET MEDIA QUERY */

@media screen and (min-width: 576px) {
    #features .container .card{
        width: calc(100% / 3 - 20px);
    }
    #features .container .pb-0.card.card {
        width: calc(100% / 3 * 2 - 20px);
    }
}

@media screen and (min-width: 992px) {
    .pb-0.card {
        display: flex;
    }
}